*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(to bottom right, rgba(22, 0, 134, 0.658),rgba(154, 0, 209, 0.777));
    align-items: center;
    justify-content: center;
    display: flex;
}
.baseDeFora{
    width: 290px;
    height: 130px;
    background-color: rgba(0, 255, 255, 0.355);
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;

    justify-content: space-between;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.397);
   

}
.contorno{
    height: 80%;
    width:25%;
    margin: 12px;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.397);

    align-items: center;
    justify-content: center;
    display: flex;

    background-color: white;

}